.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url(./assets/thrones.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  margin-top: 5%;
  font-size: 2rem;
  text-shadow: 3px 3px 3px black;
}

.about p a:hover {
  text-decoration: underline;
}

.about > div {
  display: flex;
  height: 20px;
  column-gap: 30px;
}

.about div a > * {
  transform: scale(2);
}

p {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2rem;
  padding: 2rem;
  text-shadow: 3px 3px 3px black;
}

#seasons {
  padding: 2rem;
}