.about {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url(../asset/thrones.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  margin-top: 10%;
  font-size: 3rem;
  text-shadow: 3px 3px 3px black;
}

.about p a:hover {
  text-decoration: underline;
}

.maintext {
  text-align: center;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
  font-size: 2rem;
  padding: 2rem;
  text-shadow: 1px 1px 1px black;
}

#seasons {
  padding: 2rem;
}

@media only screen and (max-width: 400px) {
  .maintext {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
