* {
  color: white;
  text-decoration: none;
}

.navFlex {
  background-color: #131c27;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
}

nav {
  padding: 1rem;
  min-height: 10vh;
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  font-size: 2rem;
}

.ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: end;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.btn {
  flex: 1 1 40rem;
  border: none;
  background: #64b3cc55;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid white;
  margin-left: 0;
  padding-left: 0;
}

@media only screen and (max-width: 400px) {
  nav li {
    font-size: 1rem;
  }

  .btn {
    padding: 2px;
  }
}
